<div>
    <a class="btn btn-primary" routerLink="/backoffice">Back</a>
    <h2>Conference feedbacks</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">UUID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">E-mail</th>
            <th scope="col">Feedback</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conferenceFeedback of conferenceFeedbacks">
                <td>{{conferenceFeedback.uuid}}</td>
                <td>{{conferenceFeedback.conferenceParticipant?.firstName}}</td>
                <td>{{conferenceFeedback.conferenceParticipant?.lastName}}</td>
                <td>{{conferenceFeedback.conferenceParticipant?.email}}</td>
                <td>{{conferenceFeedback.feedback}}</td>
            </tr>
        </tbody>
    </table>
</div>
