/* You can add global styles to this file, and also import other style files */
.nav-logo {
    width: 300px;
    height: 75px;
    margin: 0 20px;
}
.main-container {
    margin: 20px;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.ml-10 {
    margin-left: 10px;
}